@{
    ViewBag.Title = "Servers";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
        </div>
    </section>
}

<div  id="result"></div>

<script src="~/Scripts/Custom/GetEntities.js"></script>
