@{
    ViewBag.Title = "Index";
}

<body ng-app="">


<div >
<h2>Index</h2>

<div>
    Here is a button:
    
</div>
<button type="button" class="button">Sup</button>

    <div ng-controller="MainCtrl">

        <div ng-repeat="category in categories">{{category.name}}</div>

    </div>

    </div>
    <script src="Scripts/angular.min.js"></script>
    <script src="Views/Home/Index.js"></script>
    
    </body>